body{
 margin: 0;
}
 /*.right_backGra */
 /*     \* for the three line    
 body dir ="ltr"
 */
 .grid{
    display: grid;
    grid-template-columns: 170px 1fr;
    background-color: white;
 }
 .right_backGra{
    display: grid;
    grid-template-columns: repeat(3,200px) 1fr;
    background-color: white;
   grid-template-rows: repeat(4,1fr);
      gap: 20px;
 margin-left: 30px;
 margin-top: 20px;
 background-color: yellow;
}
.left_backGra{
    display:block;
    width: 170px;
    height: 100vh;
    background-color: rgb(207, 95, 9);
    border-radius: 0px 60px  0px 0px;
}
.nav{
    display: inline-block;
    margin-top: 20px;
    margin-left: 90px;
}
.nav div {
    background-color:aliceblue;
    width: 25px;
    margin: 2px;
    height: 3px;
}
.instruction a{
    text-decoration: none;
    display: block;
    color: black;
    margin: 20px;
    text-transform: capitalize;
font-size: larger;
}
.test1{
    position: relative;
    right: 25px;
    background-color: white;
    width: 190px;
    height: 44px;
    border-radius: 20px;
    text-align: center;
    padding-top:10px; /*centre without padding */
}

.Total_orders,.Total_revenu,.Tlzrj_sfmoe{
    background-color: rgb(214, 169, 7);
  border-radius: 20px;
  text-align: center;
  justify-items: center;
}

.cercle1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
}
.columns{
background-color: red;
grid-row: 1/3;
}