
body{
    display: flex;
     align-items: center;
     justify-content: center;
     height: 100vh;/*IMPORTANT*/
}
/* Mode sombre */
.dark-mode {
  background: black ;
}
.index1{
    width: 160px;
    height: 160px;
    position: relative;
}
.index2{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 2px 6px 20px -1px rgba(0, 0, 0, 0.15)}
.index3{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
   top: 10px;
   left: 10px;
    height: 120px;
    width: 120px;
    border-radius:50%;
     box-shadow: inset 2px 2px 6px 1px rgba(0,0,0,0.2),    
     1px 3px 1px rgba(0,0,0,0.15)

    }
circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 440;/*TO close*/
    stroke-dashoffset: 440; /*To open */
    animation: anim 2s linear forwards;
}

svg{
    position: absolute;
   top: 0px;
   left: 0;
}

@keyframes anim{
100%{
    stroke-dashoffset: 100;
}
}